/*noinspection ALL*/
.tab-pane {
  -fx-background-color: #c1ff51;
  -fx-border-color: darkgray;
}

.button {
  -fx-text-fill: #121212;
  -fx-font-size: 13px;
  -fx-font-weight: bold;
}

/*noinspection ALL*/
.tab-pane .headers-region {
  -fx-padding: 5px;
  -fx-background-color: "gray";
}

.parent-grid-pane {
  -fx-background-color: "black";
}

